<%- include('../partials/header') %>
  <h1>Grams Index</h1>
  <ul>
    <% for (let gram of grams) {%>
      <li>
        <img src="<%= gram.srcUrl %> ">
        <p><%= gram.description %> </p>
        <p> Price :- <%= gram.price %></p>
      </li>
    <% } %> 
  </ul>
<%- include('../partials/footer') %>